@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

@layer utilities {
  .button {
    position: relative;
    overflow: hidden;
  }

  .button:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .button:after {
    content: '';
    position: absolute;
    width: 300%;
    height: 300%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  .button:active:after {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    transition: 0s;
  }

  .custom-gradient {
    background: linear-gradient(rgba(32,33,36,0) 1%, rgba(32,33,36,.532) 25%, rgba(32,33,36,.77));
  }

  .custom-gradient-reverse {
    background: linear-gradient(rgba(32,33,36,.75), rgba(32,33,36,.5) 50%, rgba(32,33,36,.25));
  }


}
